* {
  font-family: sans-serif;
}

.main {
  box-sizing: border-box;
  max-width: 100%;
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.headerWrapper {
  text-align: center;
}

.header {
  font-size: 2rem;
  font-weight: bold;
}

.rounded, li {
  border: solid;
  border-radius: 5px;
  border-width: medium;
  border-color: gray;
  list-style-type: none;
  margin-top: 0.25rem;
  padding: 0.3rem;
}

.centeredWrapper {
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
}

ul {
  padding-left: 2rem;
  padding-right: 2rem;
}

li button, .rounded button {
  float: right;
}

li input, .rounded input {
  float: right;
}

.clickable {
  cursor: pointer;
}

.justifyRight {
  float: right;
}

.padded {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.horizontallyPadded {
  padding-left: 2rem;
  padding-right: 2rem;
}

.deleteButton {
  float: right;
  height: 100%;
  height: 1.5rem;
  width: 100%;
  width: 1.5rem;
}

.deleteButtonWrapper {
  position: relative;
  overflow: hidden;
}

.verticallyAligned {
  display: flex;
  align-items: center;
}
